<h2>Children list</h2>
<ul>
    {{#each childrenList}}
    <label><li>{{this.name}} {{this.surname}}
            <select>
                <option value="">Brak</option>
                {{#each ../giftsList}}
                    <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
            <button>Save</button>
        </li></label>
    {{/each}}
</ul>

<h2>Add child</h2>
<form action="">
    <label>
        Name
        <input name= "name" type="text">
    </label>
    <label>
        Surname
        <input name= "surname" type="text">
    </label>
    <button>Add</button>
</form>